{% extends "activities/base.html" %}
{% load activity_extras %}

{% block title %}Angebot – {{ object.title }}{% endblock %}
{% block headline %}{{ object.title }}{% endblock %}

{% block content %}
<img src="{{ object.image_set.first }}" alt="{{ object.image_set.first.description }}" class="pure-img" />
<p><b>Alter:</b> {{ object.min_age }}{% if object.max_age == 99 %}+{% else %} bis {{ object.max_age}}{% endif %}</p>
<p><b>Bildungsbereiche:</b> {{ object.field_of_education.all|join:", " }}</p>
<p><b>Materialien:</b>
<ul>{{ object.materialamount_set.all|unordered_list }}</ul>
</p>
<p><b>Jahreszeiten:</b> {{ object.seasons.all|join:", " }}</p>
<p><b>Feste:</b> {{ object.festivals.all|join:", " }}</p>
<p><b>Aktivität:</b> {{ object.setting|yesno:"Drinnen,Draußen,Drinnen und Draußen" }}</p>
<p>{{ object.description|hashtagger|linebreaks }}</p>
<p><b>Dateianhänge:</b>
<ul>
{% for file in object.file_set.all %}<li><a href="{{ file }}">{{ file.upload.name }}</a></li>{% endfor %}
</ul>
</p>
{% endblock %}