{% load activity_extras %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ object.title }}</title>
</head>
<body>
<img src="{{ object.image_set.first }}" />
<h1>{{ object.title }}</h1>
<p><b>Alter:</b> {{ object.min_age }}{% if object.max_age == 99 %}+{% else %} bis {{ object.max_age}}{% endif %}</p>
<p><b>Bildungsbereiche:</b> {{ object.field_of_education.all|join:", " }}</p>
<p><b>Materialien:</b>
<ul>{{ object.materialamount_set.all|unordered_list }}</ul>
</p>
<p><b>Jahreszeiten:</b> {{ object.seasons.all|join:", " }}</p>
<p><b>Aktivität:</b> {{ object.setting|yesno:"Draußen,Drinnen,Drinnen und Draußen" }}</p>
<p>{{ object.description|hashtagger|linebreaks }}</p>
<p><b>Quelle:</b> {{ object.source|urlize }}</p>
</body>
</html>